.background { 
    background-image: url('../images/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #444;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
    display: flex;
}

.intro {
    color: #fff;
    font-size: 12vmin;
    line-height: 12vmin;
    text-align: center;
    font-family: 'Quicksand';
    text-shadow: 0px 0px 15px #222;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.intro-small {
    font-size: 4vmin;
}

.feature {
    min-height: 250px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.device .md-imac {
    font-size: 4pt;
}

.device .md-macbook-pro {
    font-size: 5pt;
}

.device .md-iphone-5 {
    font-size: 5pt;
    padding-bottom: 30px;
}

.device-left {
    margin-right: 50px;
}

.device-right {
    margin-left: 50px;
}

@media screen and (max-width: 40rem) {
    .device {
        display: none;
    }
}